@model IEnumerable<Distance.Models.DriverViewModels>

@{
    ViewBag.Title = "Drivers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body style="background-color:#2F3336; color:white;">
    <h2 style="color:white;">Kierowcy w firmie</h2>
    <p>
        @Html.ActionLink("Dodaj kierowce", "New", "Drivers", null, new { @class = "btn btn-primary" })
    </p>
    @if (!Model.Any())
    {
        <p>Obecnie nie ma kierowców</p>
    }
    else
    {
        <table id="drivers" class="table-bordered table-hover">
            <thead>
                <tr>
                    <th>Kierowca</th>
                    <th>Adres</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var driver in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(driver.FirstName + " " + driver.LastName, "Edit", "Drivers", new { id = driver.Id }, null)</td>
                        <td>
                            @if (!string.IsNullOrEmpty(driver.FlatNumber) && !string.IsNullOrEmpty(driver.Street))
                            {
                                @(driver.Street + " " + driver.HouseNumber + "/" + driver.FlatNumber)<br />@(driver.ZipCode + " " + driver.City)
                            }
                            else if (!string.IsNullOrEmpty(driver.FlatNumber))
                            {
                                @(driver.HouseNumber + "/" + driver.FlatNumber)<br />@(driver.ZipCode + " " + driver.City)
                            }
                            else if (!string.IsNullOrEmpty(driver.Street))
                            {
                                @(driver.Street + " " + driver.HouseNumber)<br />@(driver.ZipCode + " " + driver.City)
                            }
                            else
                            {
                                @(driver.ZipCode + " " + driver.City + ", " + driver.HouseNumber)
                            }
                        </td>
                        <td>
                            <button data-driver-id="@driver.Id" class="btn-link js-delete">USUŃ</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</body>


@section scripts
{
    <script>
        $(document).ready(function () {
            $("#drivers").DataTable();

            $("#drivers").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Czy napewno chcesz usunąć tego kierowcę?",
                    function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/drivers/" + button.attr("data-driver-id"),
                                method: "DELETE",
                                success: function () {
                                    button.parents("tr").remove();
                                }
                            });
                        }
                    });
            });
        });
    </script>
}
