@model Distance.Models.IndexViewModel
@{
    ViewBag.Title = "Zarządzanie kontem";
}
<body style="background-color:#2F3336; color:white;">
    <h2 style="color:white;">@ViewBag.Title</h2>
    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <h4 style="color:white;">Zmień ustawienia konta</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Hasło:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Zmień hasło", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Stwórz hasło", "SetPassword")
                }
                ]
            </dd>
            <dt>Połączenia kont:</dt>
            <dd>
                @Model.Logins.Count [
                @Html.ActionLink("Zarządzaj", "ManageLogins") ]
            </dd>                            
        </dl>
    </div>
    <div>
        <h4 style="color:white;">Dane osobowe</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Imie:</dt>
            <dd>
                @Model.FirstName
            </dd>
            <dt>Nazwisko:</dt>
            <dd>
                @Model.LastName
            </dd>
            <dt>Adres:</dt>
            <dd>
                @if (!string.IsNullOrEmpty(Model.FlatNumber) && !string.IsNullOrEmpty(Model.Street))
                {
                    @(Model.Street + " " + Model.HouseNumber + "/" + Model.FlatNumber)<br />@(Model.ZipCode + " " + Model.City)
                }
                else if (!string.IsNullOrEmpty(Model.FlatNumber))
                {
                    @(Model.HouseNumber + "/" + Model.FlatNumber)<br />@(Model.ZipCode + " " + Model.City)
                }
                else if (!string.IsNullOrEmpty(Model.Street))
                {
                    @(Model.Street + " " + Model.HouseNumber)<br />@(Model.ZipCode + " " + Model.City)
                }
                else
                {
                    @(Model.ZipCode + " " + Model.City + ", " + Model.HouseNumber)
                }
            </dd>
            <dt>Email:</dt>
            <dd>
                @Model.Email
            </dd>
            <dt>Telefon:</dt>
            <dd>
                @Model.PhoneNumber
            </dd>
        </dl>

    </div>
</body>

