@model Distance.Models.SetPasswordViewModel
@{
    ViewBag.Title = "Utwórz hasło";
}

<body style="background-color:#2F3336; color:white;">
    <h2 style="color:white;">@ViewBag.Title</h2>
    <p class="text-info">
        Nie posiadasz hasła do tej strony. Uzupełnij dane konta lokalnego, aby mieć
        możliwość zalogowania się bez używania konta innego serwisu.

    </p>
    @using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <h4 style="color:white;">Lokalne hasło</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Ustaw hasło" class="btn btn-default" />
            </div>
        </div>
    }
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}